/**
 * STAR TREK Text Game
 * 2017-06-01 K.OHWADA
 */

#left {
  	display:inline-block;
	vertical-align:top;
	border: 3px black solid;
	border-radius: 20px; 
}

#right {
  	display:inline-block;
	vertical-align:top;
	border: 3px black solid;
	border-radius: 20px; 
}